mixin head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= 'todo-js'
    meta(content="", name="description")
    meta(content="", name="keywords")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(content="telephone=no", name="format-detection")
    meta(name="HandheldFriendly", content="true")
    link(rel="icon" type="image/x-icon" href="favicon.ico")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    link(href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet")