doctype html
html(lang="en")

    include components/head
    head
        +head
    body.body
        .container
            h1.title application
            ul.items
                li.item.active
                    span.item__info
                        input.item__check(type="checkbox" checked)
                        label.item__title some task #1
                        input.item__input(type="text")
                    span.item__buttons
                        button.item__button.item__edit.button edit
                        button.item__button.item__del.button delete
                li.item
                    span.item__info
                        input.item__check(type="checkbox")
                        label.item__title some task #2
                        input.item__input(type="text")
                    span.item__buttons
                        button.item__button.item__edit.button edit
                        button.item__button.item__del.button delete
            form.add-item
                input.add-item__input(type="text" placeholder='add a new task')
                button.add-item__add.button add

        script(src='js/main.js')