*{
  box-sizing: border-box;
}
body {
  font-family: $font-main;
  font-size: $font-size;
  color: $color-main;
  line-height: $line-height;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}

p {
  margin-top: 0;
}

img {
  vertical-align: top;
}
a {
  text-decoration: none;
  color: $color-main;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
  max-width: 980px;
  margin: auto;
  padding: 0 15px;
}
